@page
@model Demo2_CapitalMarketStory.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Evolutia companiei: @Model.Company?.Name</h2>
<h3 style="color: #555;">Status curent (pe baza ultimului an): @Model.CompanyStatus</h3>

<div>
    <canvas id="myChart"></canvas>
</div>

<div>
    <canvas id="myChart2"></canvas>
</div>

<br />
<h3>Indicatori de performanta anuali</h3>

<table class="table">
    <thead>
        <tr>
            <th>Anul</th>
            <th>ROA</th>
            <th>ROE</th>
            <th>Marja Profitului</th>
            <th>Creștere CA</th>
            <th>Creștere Profit Net</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model.FinancialReports)
        {
            <tr>
                <td>@report.YearReported</td>
                <td>@Html.DisplayFor(modelItem => report.ROA)</td> @* sau <td>@Html.DisplayFor(modelItem => report.ROA)</td> annotation model *@
                <td>@report.ROE.ToString("P2")</td>
                <td>@report.MarjaProfit.ToString("P2")</td>
                <td>
                    @if (report.RataCrestereCifraAfaceriNet == 0)
                    {
                        <span>N/A</span>
                    }
                    else
                    {
                        @report.RataCrestereCifraAfaceriNet.ToString("P2")
                    }
                </td>

                <td>
                    @if (report.RataCrestereProfitNet == 0)
                    {
                        @("N/A")
                    }
                    else
                    {
                        @report.RataCrestereProfitNet.ToString("P2")
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx1 = document.getElementById('myChart');

        new Chart(ctx1, {
          type: 'bar',
          data: {
            labels: @Html.Raw(Json.Serialize(Model.FinancialReports.Select(r => r.YearReported))),
            datasets: [{
              label: 'Profit net (RON)',
              data: @Html.Raw(Json.Serialize(Model.FinancialReports.Select(r => r.ProfitNet))),
              borderWidth: 1
            }]
          },
          options: {
            responsive: true,
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        const ctx2 = document.getElementById('myChart2');

        new Chart(ctx2, {
          type: 'bar',
          data: {
            labels: @Html.Raw(Json.Serialize(Model.FinancialReports.Select(r => r.YearReported))),
            datasets: [{
              label: 'Cifra de afaceri neta (RON)',
              data: @Html.Raw(Json.Serialize(Model.FinancialReports.Select(r => r.CifraAfaceriNet))),
              borderWidth: 1
            }]
          },
          options: {
            responsive: true,
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

    </script>

}
