@page
@model Demo2_CapitalMarketStory.Pages.Imports.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Import</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Import.ImportDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Import.ImportDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Import.FileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Import.FileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Import.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Import.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Import.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Import.Company.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Import.ImportId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
